In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('./raw/diabetes.csv')

In [3]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,89,66,23,94,28.1,0.167,21,0
1,0,137,40,35,168,43.1,2.288,33,1
2,3,78,50,32,88,31.0,0.248,26,1
3,2,197,70,45,543,30.5,0.158,53,1
4,1,189,60,23,846,30.1,0.398,59,1

In [4]:
dataset.shape

(392, 9)

In [5]:
dataset['Outcome'].value_counts()

0    262
1    130
Name: Outcome, dtype: int64

The null values have been encoded as 0s. The biological parameters like Glucose, BP, Skin thickness,Insulin & BMI cannot have zero values.

In [4]:
# remove rows which contains 0 values for either of the biological parameters
bio_params = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
for column in bio_params:
    dataset = dataset[dataset[column] != 0]

In [5]:
# reset index
dataset.reset_index(drop=True, inplace=True)

In [6]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,89,66,23,94,28.1,0.167,21,0
1,0,137,40,35,168,43.1,2.288,33,1
2,3,78,50,32,88,31.0,0.248,26,1
3,2,197,70,45,543,30.5,0.158,53,1
4,1,189,60,23,846,30.1,0.398,59,1

In [7]:
dataset.to_csv('../datasets/diabetes1.csv', index=False)